/********** Add your custom styles here **********/

/***Poppins***/
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Black.ttf') format('truetype'),
    url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
    url('fonts/Poppins-Bold.ttf') format('truetype'),
    url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
    url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
    url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
    url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
    url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
    url('fonts/Poppins-Italic.ttf') format('truetype'),
    url('fonts/Poppins-Light.ttf') format('truetype'),
    url('fonts/Poppins-LightItalic.ttf') format('truetype'),
    url('fonts/Poppins-Medium.ttf') format('truetype'),
    url('fonts/Poppins-MediumItalic.ttf') format('truetype'),
    url('fonts/Poppins-Regular.ttf') format('truetype'),
    url('fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
    url('fonts/Poppins-Thin.ttf') format('truetype'),
    url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
}

/***SpaceMono***/
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Bold.ttf') format('truetype'),
    url('fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
    url('fonts/SpaceMono-Italic.ttf') format('truetype'),
    url('fonts/SpaceMono-Regular.ttf') format('truetype'),
}

/***Colors***/
:root {
    --rouge: #E00000; /* var(--rouge) */
    --noir: #000; /*var(--noir) */
    --gris-medium: #D8D8D8; /*var(--gris-medium) */
    --rouge-secondaire: #FE5858; /*var(--rouge-secondaire) */
    --bleu-fonc: #313144; /*var(--bleu-fonc) */
    --gris-light: #E5E5E5; /*var(--gris-light) */
    --rouge-tertiaire: #FFD6D6; /*var(--rouge-tertiaire) */
    --gris-fonc: #C4C4C4; /*var(--gris-fonc) */
  }

  /* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page 
body * {
    font-family: 'Roboto', sans-serif;
 } */

 /* On applique un gris plus clair sur les paragraphes 
p {
    color: #313332;
 } */

/* HEADER 
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.custom-logo-link{
    padding-left: 75px;
}

#site-logo img{
    width: 216px;
    height: 14px;
}

.main-navigation{
    padding-right: 75px;
}

#primary-menu li {
    display: inline-block;
    margin-left: 10px;
}

#primary-menu a {
    text-decoration: none;
    list-style-type: none;
} */

/* FOOTER */
#site-footer {
    padding: 20px;
    text-align: center;
 }

 #site-footer.menu-footer-container {
    display: flex;
    justify-content: center;
 }

 #site-footer.menu-footer-container li {
    margin: 0 10px;
    display: inline-block;
 }

 #site-footer.menu-footer-container a {
    text-decoration: none;
    list-style-type: none;
 }


 /* MODALE 
 
.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
} /*

/* Modal Content/Box 
.modal-container {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 5px solid var(--noir);
    width: 600px; 
    height: 769px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px; 
}

.modal-container img{
    height: 107px;
    margin-top: 135px;
} 

.modal-container input[type="text"],
.modal-container input[type="email"] {
    width: 300px;
    height: 63px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    margin-bottom: 15px;
}

.modal-form-container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-container textarea{
    width: 300px;
    height: 210px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}

.modal-container label{
    font-size: 15px;
}

.modal-container input[type="submit"]{
    background-color: var(--gris-medium)!important;
    color: var(--noir)!important;
    border: 1px solid #B8BBC2;
    border-radius: 2px;
    width: 300px;
    height: 63px;
}

.modal-container input[type="submit"]:hover{
    background-color: var(--noir)!important;
    color: #fff!important;
} */

/* Body 
body{
    width: 1440px;
    height: 960px;
} */

/* Modale */
.modal-contact{
    border: 5px solid var(--noir);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 597px;
    height: 769px;
    background-color: #fff;

}

.modal-body{
    border: 5px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.modal-content{
    border: 5px solid green;
    }

.modal-contact .wpcf7 [type="email"],
.modal-contact .wpcf7 [type="text"],
.modal-contact .wpcf7 textarea {
    width: 263px;
    height: 40px;
    border: 1px solid var(--gris-medium);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

.modal-contact .wpcf7 textarea{
    height: 210px;
}

/* Bouton envoyer */
.modal-contact .wpcf7 input[type="submit"] {
    display: flex;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--gris-medium)!important;
    color: var(--noir)!important;
}

/* Bouton envoyer au survol */
.modal-contact .wpcf7 input[type="submit"]:hover {
    background-color: var(--noir)!important;
    color: #fff!important;
}

/* Header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.logo img{
    width: 216px;
    height: 14px;
    margin-left: 55px;
}

.primary-menu{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 150px;
}

.primary-menu .menu li{
    display: inline-block;
    margin-right: 10px;
}

.primary-menu a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;

}